.card {
  margin-bottom: 2rem;
  background: $bg-light;
  border-radius: 5px;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.card__video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.card__body {
  padding: 1rem;
}
