$color-light: #fff;
$color-light-muted: #ddd;
$color-dark: #555;
$color-dark-muted: #777; 
$bg-light: #fff;
$bg-gray: #eee;
$bg-dark: #333;
$btn: #666;
$btn-muted: #333; 
$transition-speed: 400ms;
$font-size-sm: 1.4rem;
$font-size-md: 1.6rem;
$font-size-lg: 2rem;
$font-size-xl: 4.2rem;

@import 'reset';
@import 'layout';
@import 'controls';
@import 'navbar';
@import 'sidebar';
@import 'carousel';
@import 'card';
