$color-light: #fff;
$color-light-muted: #ddd;
$color-dark: #555;
$color-dark-muted: #777; 
$bg-light: #fff;
$bg-gray: #eee;
$bg-dark: #333;
$btn-light: #dfdfdf;
$btn-light-muted: #efefef; 
$transition-speed: 400ms;
$font-size-sm: 1.6rem;
$font-size-md: 1.8rem;
$font-size-lg: 2.4rem;
$font-size-xl: 4.6rem;

@import 'reset';
@import 'layout';
@import 'controls';
@import 'navbar';
@import 'sidebar';
@import 'carousel';
@import 'card';
